@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&display=swap');
.container {
  padding: 0 2rem;
  background-color: #0892d0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.title a {
  color:#1c352d;
  text-decoration: none;
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: bold;
  font-size: 32px;
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  
}

.title,
.description {
  text-align: center;
}
.cursor{
  cursor: url('/public/cursors/cursor.png'), auto
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
